body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #00a651, #00c853);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Caja */
.login {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

/* Inputs */
input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

/* Botón */
button {
    width: 80%;
    padding: 10px;
    background: #00a651;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #007a3d;
}